<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>module</key>
		<string>启动</string>
		<key>expand</key>
		<true/>
		<key>controllers</key>
		<array>
			<dict>
				<key>title</key>
				<string>Launch</string>
				<key>description</key>
				<string>启动页，可以处理启动页、广告页、引导页等</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>module</key>
		<string>首页</string>
		<key>expand</key>
		<true/>
		<key>controllers</key>
		<array>
			<dict>
				<key>title</key>
				<string>Home</string>
				<key>description</key>
				<string>首页主菜单</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>module</key>
		<string>等级</string>
		<key>expand</key>
		<true/>
		<key>controllers</key>
		<array>
			<dict>
				<key>title</key>
				<string>Level</string>
				<key>description</key>
				<string>游戏等级</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>module</key>
		<string>图库</string>
		<key>expand</key>
		<true/>
		<key>controllers</key>
		<array>
			<dict>
				<key>title</key>
				<string>Gallery</string>
				<key>description</key>
				<string>游戏图库</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>module</key>
		<string>游戏</string>
		<key>expand</key>
		<true/>
		<key>controllers</key>
		<array>
			<dict>
				<key>title</key>
				<string>Game</string>
				<key>description</key>
				<string>游戏主页面</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>module</key>
		<string>记录</string>
		<key>expand</key>
		<true/>
		<key>controllers</key>
		<array>
			<dict>
				<key>title</key>
				<string>Record</string>
				<key>description</key>
				<string>游戏记录</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>module</key>
		<string>关于</string>
		<key>expand</key>
		<true/>
		<key>controllers</key>
		<array>
			<dict>
				<key>title</key>
				<string>AppAbout</string>
				<key>description</key>
				<string>关于</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>module</key>
		<string>帮助</string>
		<key>expand</key>
		<true/>
		<key>controllers</key>
		<array>
			<dict>
				<key>title</key>
				<string>AppHelp</string>
				<key>description</key>
				<string>帮助</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
